{
    "extends": ["airbnb-base", "prettier"],
    "rules": {
        "prettier/prettier": "error",
        "quotes": "off"
    },
    "plugins": ["prettier"],
    "env": {
        "node": true
    }
}
